.header{
    width: auto;
    height: 50px;
    background-color: #000;
    
}
.top-menu{
    width: 1000px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
 
}
.top-menu_item{
    margin: 5px 5px;
    vertical-align: middle;
    color:#fff;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}
.container{
    
    height: 700px;
    width: 1200px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main h3{
    margin: 5px;
    margin-bottom: 20px;
}
.items-view{
    width: 858px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;  
}
.slider-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slider-header-text{
    font-size: 1em;
}
.peripherals-item{
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}
.peripherals-item:hover{
    opacity: 1;
    
}
.items-panel{
    
    width: 270px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.peripherals-list{
    width: 200px;
    height: 500px;
    list-style: none;
    padding-inline-start: 0;
}
.peripherals-list_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.peripherals-list_item:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.button-primary{
    width: 200px;
    height: 40px;
    background: #3596F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper {
    width: 858px;
    height: 630px;
  }

.slide-header{
    margin-bottom: 0px;    
}
.slider-header-text{
    margin: 0 10px;
}
.button-remove-item{
    /*border: none;*/
    cursor: pointer;
}
